@font-face {
  font-family: 'jetbrains-mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('https://fonts.imlin.us/fonts/jetbrains-mono/jetbrains-mono.ttf') format('truetype');
}
